{/* ---------------------second part starts--------------------- */}
            <div className="flex flex-row items-start justify-center">
                    {/* left part */}
                    <div className="flex flex-col ml-40">
                        {/* 1st part */}
                        <div className="flex flex-row items-center">
                            <h1 className=" font-thin">DECEMBER 20, 2019</h1>
                            <h2 className=" font-bold ml-3 mr-3">.</h2>
                            <h1 className=" font-thin">BY JOHN DOE</h1>
                            <h2 className=" font-bold ml-3 mr-3">.</h2>
                            <h1 className=" font-thin">PLANNING</h1>
                        </div>
                        <h1 className="font-bold text-2xl pt-4">Target and Amazon Shopping List for<br /> Home Stagers</h1>
                        <div className="flex flex-col items-center ">
                            <img src={getshit} alt="getshit" className="object-cover w-[100%] h-96 pt-4" />
                            <p className="font-light pt-3 pb-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br />
                             incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas<br /> accumsan lacus vel facilisis.
                            </p>
                            {/* Learn More Button */}
                              <Link
                                to="/about"
                                className="relative sm:mb-4 mb-10 inline-block px-4 py-2 text-black font-thin text-lg sm:text-xl border-2 border-transparent rounded-lg transition-all duration-300 group"
                              >
                                Learn More
                                {/* Top Line */}
                                <span className="absolute top-0 left-0 w-3 h-0.5 bg-slate-400 transition-all duration-500 ease-in-out group-hover:w-full"></span>
                                {/* Right Line */}
                                <span className="absolute top-0 right-0 w-0.5 h-3 bg-slate-400 transition-all duration-500 ease-in-out group-hover:h-full"></span>
                                {/* Bottom Line */}
                                <span className="absolute bottom-0 right-0 w-3 h-0.5 bg-slate-400 transition-all duration-500 ease-in-out group-hover:w-full"></span>
                                {/* Left Line */}
                                <span className="absolute bottom-0 left-0 w-0.5 h-3 bg-slate-400 transition-all duration-500 ease-in-out group-hover:h-full"></span>
                              </Link>
                        </div>
                        {/* 1st part end */}
                        {/* 2nd part */}

                        <h1 className="font-light text-amber-500 pt-4 pb-4">
                            _________________________________________________________________________________</h1>

                        <div className="flex flex-row items-center mt-6">
                            <h1 className=" font-thin">DECEMBER 20, 2019</h1>
                            <h2 className=" font-bold ml-3 mr-3">.</h2>
                            <h1 className=" font-thin">BY JOHN DOE</h1>
                            <h2 className=" font-bold ml-3 mr-3">.</h2>
                            <h1 className=" font-thin">PLANNING</h1>
                        </div>
                        <h1 className="font-bold text-2xl pt-4">6 Ideas for Team Building & Employee<br /> Appreciation for Home Stagers</h1>
                        <div className="flex flex-col items-center ">
                            <img src={project2} alt="getshit" className="object-cover w-[100%] h-96 pt-4" />
                            <p className="font-light pt-3 pb-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br />
                             incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas<br /> accumsan lacus vel facilisis.
                            </p>
                            {/* Learn More Button */}
                              <Link
                                to="/about"
                                className="relative sm:mb-4 mb-10 inline-block px-4 py-2 text-black font-thin text-lg sm:text-xl border-2 border-transparent rounded-lg transition-all duration-300 group"
                              >
                                Learn More
                                {/* Top Line */}
                                <span className="absolute top-0 left-0 w-3 h-0.5 bg-slate-400 transition-all duration-500 ease-in-out group-hover:w-full"></span>
                                {/* Right Line */}
                                <span className="absolute top-0 right-0 w-0.5 h-3 bg-slate-400 transition-all duration-500 ease-in-out group-hover:h-full"></span>
                                {/* Bottom Line */}
                                <span className="absolute bottom-0 right-0 w-3 h-0.5 bg-slate-400 transition-all duration-500 ease-in-out group-hover:w-full"></span>
                                {/* Left Line */}
                                <span className="absolute bottom-0 left-0 w-0.5 h-3 bg-slate-400 transition-all duration-500 ease-in-out group-hover:h-full"></span>
                              </Link>
                        </div>
                        {/* 2nd part end */}
                        {/* 3rd part */}
                        <h1 className="font-light text-amber-500 pt-4 pb-4">
                            _________________________________________________________________________________</h1>
                        <div className="flex flex-row items-center mt-6">
                            <h1 className=" font-thin">DECEMBER 20, 2019</h1>
                            <h2 className=" font-bold ml-3 mr-3">.</h2>
                            <h1 className=" font-thin">BY JOHN DOE</h1>
                            <h2 className=" font-bold ml-3 mr-3">.</h2>
                            <h1 className=" font-thin">PLANNING</h1>
                        </div>
                        <h1 className="font-bold text-2xl pt-4">How to Find the Best Price Structure for<br /> Your Home Staging Services</h1>
                        <div className="flex flex-col items-center ">
                            <img src={getshit} alt="getshit" className="object-cover w-[100%] h-96 pt-4" />
                            <p className="font-light pt-3 pb-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br />
                             incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas<br /> accumsan lacus vel facilisis.
                            </p>
                            {/* Learn More Button */}
                              <Link
                                to="/about"
                                className="relative sm:mb-4 mb-10 inline-block px-4 py-2 text-black font-thin text-lg sm:text-xl border-2 border-transparent rounded-lg transition-all duration-300 group"
                              >
                                Learn More
                                {/* Top Line */}
                                <span className="absolute top-0 left-0 w-3 h-0.5 bg-slate-400 transition-all duration-500 ease-in-out group-hover:w-full"></span>
                                {/* Right Line */}
                                <span className="absolute top-0 right-0 w-0.5 h-3 bg-slate-400 transition-all duration-500 ease-in-out group-hover:h-full"></span>
                                {/* Bottom Line */}
                                <span className="absolute bottom-0 right-0 w-3 h-0.5 bg-slate-400 transition-all duration-500 ease-in-out group-hover:w-full"></span>
                                {/* Left Line */}
                                <span className="absolute bottom-0 left-0 w-0.5 h-3 bg-slate-400 transition-all duration-500 ease-in-out group-hover:h-full"></span>
                              </Link>
                        </div>
                        {/* 3rd part end */}
                    </div>
                    {/* --------------------right part-------------------- */}
                    <div className="flex flex-col items-start justify-start  ml-9">
                        <div className=" flex flex-col items-center">
                            <img src={girl} alt="getshit" className="object-cover rounded-lg pt-4" />
                            <p className="font-light pt-3">
                                Quis ipsum suspendisse ultrices gravid. Risus<br />
                                commodo viverra maece accums lacus vel<br /> facilisis.
                            </p>
                            <img src={signature} alt="getshit" className="object-contain w-[50%] h-[50%] pt-4 pb-4" />
                            {/* Search bar */}
                            <div className="flex flex-row mt-10 relative">
                              <input type="search" className="border-2 border-gray-300 rounded-lg px-4 py-2 pl-10" placeholder="Search..." />
                              <svg className="absolute left-4 top-4" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" strokeWidth="2">
                                <circle cx="11" cy="11" r="8" />
                                <line x1="21" y1="21" x2="16.65" y2="16.65" />
                              </svg>
                            </div>
                            {/* Search bar end */}
                            
                        </div>
                        {/* categories */}
                        <div className="items-start">
                                <h1 className="font-semibold text-start pt-8 pb-6">CATEGORIES</h1>
                                <h2 className="font-thin">Work Space </h2>
                                <h3 className="font-thin mt-4">Office Building</h3>
                                <h4 className="font-thin mt-4">HomeStay</h4>
                                <h5 className="font-thin mt-4">Making</h5>
                                <h6 className="font-thin mt-4">Process</h6>
                        </div>
                        {/* categories end */}
                        {/* feature news */}
                        <div className="flex flex-col items-start">

                            <h1 className="font-semibold text-start pt-8 pb-6">FEATURE NEWS</h1>

                            <div className="flex flex-row items-start">
                                <img src={latest1} alt="getshit" className="object-cover w-[20%] h-[10%]" />
                                <div className="flex flex-col ml-4">
                                    <h1 className="font-thin text-gray-400">DECEMBER 20, 2019</h1>
                                    <p className="font-thin">Grace Millane's mother tells killer<br /> she died 'terified'</p>
                                </div>
                            </div>

                            <div className="flex flex-row items-start mt-5">
                                <img src={latest2} alt="getshit" className="object-cover w-[20%] h-[10%]" />
                                <div className="flex flex-col ml-4">
                                    <h1 className="font-thin text-gray-400">DECEMBER 20, 2019</h1>
                                    <p className="font-thin">Grace Millane's mother tells killer<br /> she died 'terified'</p>
                                </div>
                            </div>

                            <div className="flex flex-row items-start mt-5">
                                <img src={latest3} alt="getshit" className="object-cover w-[20%] h-[10%]" />
                                <div className="flex flex-col ml-4">
                                    <h1 className="font-thin text-gray-400">DECEMBER 20, 2019</h1>
                                    <p className="font-thin">Grace Millane's mother tells killer<br /> she died 'terified'</p>
                                </div>
                            </div>

                        </div>
                        {/* feature news end */} 
                        {/* tags */}
                        <div className="flex flex-col items-start">
                            <h1 className="font-semibold text-start pt-10 pb-3">TAG</h1>
                            {/* Links */}
                            <div className="flex flex-row mt-4">
                                <a href="#" className="text-gray-600 hover:text-blue-500 mr-2">Branding</a>
                                <h1 className="mr-2">.</h1>
                                <a href="#" className="text-gray-600 hover:text-blue-500 mr-2">Office</a>
                                <h1 className="mr-2">.</h1>
                                <a href="#" className="text-gray-600 hover:text-blue-500 mr-2">Creative</a>
                                <h1 className="mr-2">.</h1>
                                <a href="#" className="text-gray-600 hover:text-blue-500 mr-2">Building</a>
                                <h1 className="mr-2">.</h1>
                              </div>

                              <div className="flex flex-row mt-4">
                                
                                <a href="#" className="text-gray-600 hover:text-blue-500 mr-2">Portfolio</a>
                                <h1 className="mr-2">.</h1>
                                <a href="#" className="text-gray-600 hover:text-blue-500 mr-2">Products</a>
                                <h1 className="mr-2">.</h1>
                                <a href="#" className="text-gray-600 hover:text-blue-500 mr-2">Website Design</a>
                                <h1 className="mr-2">.</h1>
                                </div>
                               
                                <div className="flex flex-row mt-4">
                                <a href="#" className="text-gray-600 hover:text-blue-500 mr-4">Working Space</a>
                                
                              
                            </div>
                        </div>
                        {/* tags end */}
                        {/* social media */}
                        <div className="flex flex-col items-start">
                          <h1 className="font-semibold text-start pt-10 pb-7">FOLLOW US</h1>
                          <div className="flex flex-row">
                            <a href="#" className="mr-4">
                              <FontAwesomeIcon icon={faFacebook} size="lg" />
                            </a>
                            <h1 className="mr-4">
                              ____</h1>
                            <a href="#" className="mr-4">
                              <FontAwesomeIcon icon={faInstagram} size="lg" />
                            </a>
                            <h1 className="mr-4">
                              ____</h1>
                            <a href="#" className="mr-4">
                              <FontAwesomeIcon icon={faLinkedin} size="lg" />
                            </a>
                            <h1 className="mr-4">
                              ____</h1>
                            <a href="#" className="mr-4">
                              <FontAwesomeIcon icon={faTwitter} size="lg" />
                            </a>
                          </div>
                        </div>
                        {/* social media end */}
                        {/* newsletter */}
                        <div className="flex flex-col items-start">
                          <h1 className="font-semibold text-start pt-10 pb-7">NEWSLETTER</h1>
                          <div className="flex flex-col">
                            <p className="text-gray-500">Get our latest news and updates</p>
                            <div className="flex flex-row mt-4">
                              <input
                                type="email"
                                placeholder="Enter your email..."
                                className="px-4 py-2 w-full sm:w-72 text-gray-900 rounded-l border border-gray-300 focus:outline-dashed"
                              />
                              <button
                                type="submit"
                                className="bg-amber-500 px-6 text-white font-bold rounded-r hover:bg-amber-600" 
                              >
                                ➔
                              </button>
                            </div>
                          </div>
                        </div>
                        {/* newsletter end */}
                    </div>
            {/* second part end */}
            </div>